*{
    /* CSS reset allows usto 0 the margins and paddings of all elements to remove the defaulth margins and paddings set by the browser. this allows more control over margin adn paddings for developers  */
    padding: 0;
    margin: 0;
    /* By defaulth, our boxes add the padding and border on the top of height and width.
        
        box-sizing: content-box;

        however, the issue to this , is that the computation of the height and width are now very accurate becuase padding and border are added on top of the height and width, therefore, increasing the actual height and width of our element.

        5px border-left + 3px padding-left + 100px width of content-box + 20px padding-right + 10px border-right 
        = 138px actual width

        box-sizing:border-box;
        -Allows us more control of the measurement of our element.
        -padding and border are now accounted for and added to the overall width of the element.

        5px border-left + 3px padding left + 62px content + 20px padding-right + 10px border-right (from left to Right)
        = 100px
        2px border-top + 5px padding top + 61px content + 30px padding-bottom + 2px border-bottom (from top to bottom)
        = 100px
    */

    box-sizing: border-box;
}


#box1 {
	background-color: red;
	/*margin is space generated outside of an element.*/
	/*margin: 10px;*/
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 30px;
	margin-bottom: 40px;
	/*border is the line between the margin and the padding*/
	/*border: 2px solid black;*/
	border-top: 2px solid black;
	border-left: 5px solid green;
	border-right: 10px solid orange;
	border-bottom: 2px solid black;
	/*padding is space generated within the border/inside your element.*/
	/*padding: 10px;*/
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 20px;
	padding-bottom: 30px;
	height: 100px;
	width: 100px;
}


#box2 {
    background-color: orange;
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

#box3 {
      /* 
        Block Element like div, headings, section, main, paragraph break the line.
        blobk elements, if not set with definite width, will occupy the full width of their parents.

        You can set the width of our block elements.
    */
    background-color: green;
    border: 2px solid black;
    width: 100px;
}   

#span1{
    /* 
        Inline elements like span, a, img, etc. does not break the line and are presented side by side. Inline Elements

        Inline-block elements are displayed side by side like inline elements.
        however, wec an set the width and height for our inline-block elements.
    */
    background-color: purple;
    /* border works correctly in an inline element */
    border: 2px solid black;
    /* you cannot set height and width for inline */
    display: inline-block;
    height: 100px;
    width: 100px;
    vertical-align: top;
    /* margin was only displayed on the right and left side */
    /* margin: 10px; */
    /* padding: 30px; */
    /* padding is only displayed properly on the right and left side. */
    padding-left: 30px;
    padding-right: 30px;
}

#span2 {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: yellow;
    border:2px solid black;
    vertical-align: top;
}
#box4 {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: coral;
    border:2px solid black;
    vertical-align: top;
}