* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #23231A;
}
nav span{
    vertical-align: top;
    font-weight: 800;
    color: #F3B61F;
    font-size: 1.2rem;
}
nav li {
    display: inline;
    margin: 1rem;
    vertical-align: top;
}
nav a {
    text-decoration: none;
    color:white;
    
}
nav a:hover {
    color:#F3B61F;
    transition-duration: 0.2s;
}

/* landing Section */
#landing{
    background-color: #D6F9DD  ;
    height: 100vh;
    text-align: center;
}

.header {
    text-align: center;
}
#landing h1 {
    padding: 1rem;
    padding-top: 4rem;
    font-size: 4rem;
}
#landing p {
    text-align: center;
    font-size: 2rem;
}
#landing button{
    padding: 1rem;
    border-radius: 25px;
    border: 0px;
    background-color:#F3B61F;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2rem;
}
#landing button:hover {
    background-color: #FF4000;
    transition-duration: 0.5s;
}

/* Product Sections */

#products {
    height: 50vh;
    padding: 1rem;
    background-color: #FF4000;
    padding: 2rem 10% 3rem;
}


#products .box {
    display: inline-block;
    width: 30%;
    padding: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
    min-height: 200px;
    border-radius: 10px;
    vertical-align: top;
    text-align: center;

}
#products h2{
    margin-bottom: 2rem;
    font-size: 2rem;
    color:white;
}

#products .box img{
    height: 150px;
    display: block;
    margin: auto;
}

/* pre-footer */
#pre-footer{
    padding: 2rem 10% 3rem;
    height: 20vh;
}
#pre-footer h3 {
    margin-bottom: 0.5rem;
}

#pre-footer .card{
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
#pre-footer .card span{
    color: #FF4000;
    font-weight: bold;
}

/* footer */
footer{
    background-color: #23231A;
    padding: 0.5rem;
    text-align: center;
    color: white;
}
footer span {
    margin-left: 0.5rem;
    margin-right:0.5rem;
}
footer a {
    text-decoration: none;
    color:white
}
